@model Genre
@{
    ViewData["Title"] = "Edit";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Genres</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            Edit
        </a>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form class="user" asp-action="edit" method="post">
                <div class="form-group">
                    <label for="nameInput">Name</label>
                    <input asp-for="Name" class="form-control" id="nameInput" placeholder="Enter Name here..">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <button class="btn btn-primary" type="submit">
                    Edit Genre
                </button>
            </form>
        </div>
    </div>
</div>


@section scripts {
    @Html.Partial("_ValidationScriptPartials");
}

